/* Carrousel logic made with help from the following video by "Web Decorator": https://www.youtube.com/watch?v=z74ExMz-cWU 
   and from the following material from w3schools: /* This was also done with help of the following material: https://www.w3schools.com/howto/howto_js_slideshow.asp */


/* Code for video in background by duhzecca. Found in: https://stackoverflow.com/questions/24293102/how-to-put-a-background-video-loop-on-a-website-html-css */


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    /* background-color: #000000; */

    /* overflow: hidden; This helped avoid scrolling down. Although, it is not needed anymore. */ 

    /* Google fonts */

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 2px;
    font-style: normal;

    /* Ending of Google Fonts */

    
    /* Found on: https://stackoverflow.com/questions/24739126/scroll-to-a-specific-element-using-html */
    scroll-behavior: smooth;
}


/*------------- Menu ----------- */
.menu{
    width: 100%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 100;
}

.menu #menu_option{
    
    /* I had to repeat it since it was not being read. */

    /* Google fonts */

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 2px;
    font-style: normal;

    /* Ending of Google Fonts */


    background-color: none;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    color: rgb(212, 211, 211);
    position: relative;
    display: inline;
    float: right;
    border-radius: 10px;
    height: 90%;
    margin: 8px;
    margin-top: 3px;
    right: 3%;
}

.menu #menu_option:hover{
    background-color: rgba(161, 161, 155, 0.308);
}

.menu h3{
    display: inline;
    position: relative;
    color: rgb(255, 255, 255);
    left: 3%;
    font-size: 100%;
    top: 30%;
}


/*------------- Windows for the sections ----------- */

/* The code of having the DIVs in the same line was taken from: https://stackoverflow.com/questions/10540446/how-do-i-keep-two-divs-on-the-same-line */
#window_left{
    position: relative;
    top: -1px;
    left: -5%;
    background-color: white;
    width: 30%;
    height: 50px;
    z-index: 0;
    border-radius: 20px;
    display:inline;
    float:left;
}

#window_right{
    position: relative;
    top: 0px;
    left: 74%;
    background-color: white;
    width: 26%;
    height: 40px;
    z-index: 0;
    border-radius: 1px;
}

#white_bg{
    position: relative;
    top: 0px;
    left: 0%;
    background-color: white;
    width: 100%;
    height: 80px;
    z-index: 0;
}




/*------------- Sections ----------- */


/* Section 1: The video and menu */

.section_1{
    background-color: rgba(0, 0, 0, 0.384);
}

.section_1 h1{
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    font-weight:bold;
    color: rgb(212, 211, 211);
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: -70px;
    left: 50%;
    text-align: center;
    font-size: 60px;
    width: 90%;
    float: left;
    clear: left;
}

.section_1 p{
    position: absolute;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: 65%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.336);
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    font-size: 15px;
    width: 60%;
    float: left;
    clear: left;
}

video#bgVideo { 
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;    
    /* background-size: cover; */
    overflow: hidden;
}

.videocontainer{
  position: relative;
  overflow: hidden;
  left: -9%;
  bottom: -40px;
  width: 100%;
  height: 0%;
  padding-top: 75%; /* 4:3 Aspect Ratio  */
  box-sizing: content-box;
  max-height: 400px;
}

.responsive-iframe{
    border-radius: 13%;
    position: absolute;
    top: 1cap;
    left: 25%;
    bottom: 35%;
    right: 27%;
    width:66.4%;
    height: 82.9%;
}


/* END OF SECTION 1 */



/* Section 2: About me */

.section_2{
    background-color: rgb(255, 255, 255);
    height: 850px;
}

.section_2 h1{
    border-radius: 20px;
    background-color: rgba(73, 69, 69, 0.199);
    color: black;
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: -4%;
    left: 10%;
    text-align: center;
    font-size: 35px;
    width: 60%;
    float: right;
    clear: right;
}

.section_2 p{
    border-radius: 10px;
    /* background-color: rgba(0, 0, 0, 0.274); */
    position: relative;
    color: black;
    text-align: left;
    font-size: 25px;
    bottom: -6%;
    width: 40%;
    max-width: max-content;
    float: right;
    clear: right;
    transform: translateX(-130%);
}

.photos #me{
    display: relative;
    border-radius: 10px;
    position: relative;
    top: 150px;
    left: 55%;
    width: 36%;
    max-width: 450px;
    display: flex;
    align-items: center;
    z-index: 20;
}


.photos #palms{
    display: relative;
    border-radius: 10px;
    position: relative;
    top: -200px;
    left: 75%;
    width: 20%;
    max-width: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* END OF SECTION 2 */


/* Section 3: Image carousel */

.section_3{
    background-color: rgb(238, 238, 238);
    height: 1000px;
}

.section_3 h1{
    border-radius: 20px;
    background-color: rgba(73, 69, 69, 0.199);
    color: black;
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: -3%;
    left: 50%;
    text-align: center;
    font-size: 35px;
    width: 60%;
    float: left;
    clear: left;
}


.container{
    top: 15%;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    max-height: 600px;
    max-width: 1200px;
    width: 80%;
    height: 20%;
    padding-bottom: 30%;
    background-color: transparent;
    /* background: rgb(38, 41, 41); */
    /* border: solid 1px #ffffff; */
}

.section{
    position: absolute;
    width: 100%;
    height: 100%
}

.section img{
    border-radius: 30px;
    position: relative;
    height: 100%;
    width: 100%;
}


/* These are the buttons for the image carousel */
/* Also, I used some code from here: https://stackoverflow.com/questions/9757728/positioning-the-text-inside-label-label */

.pre, .nxt{
    text-align: center;
    font-weight: 900;
    display: inline-block;
    font-size: 65px;
    border-radius: 24px;
    width: 3cap;
    height:  100%;
    position: absolute;
    top: 0;
    color: white;
    background: rgba(148, 146, 146, 0.199);
    z-index: 100;
    cursor: pointer;
}

/* Rest of the functions */

/* Fade in-out Animation */

@keyframes fadeIn {  /*Source: https://blog.hubspot.com/website/css-fade-in */
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.50; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}

.pre{
    left: 0;
}

.nxt{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: 30px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,.4);
}

.section{
    z-index: -1;
}

/* Hide button from appearing */

#c1, #c2, #c3, #c4{
    display: none;
}


#c1:checked ~ #one,  /* Moves the elements upfront. */
#c2:checked ~ #two,
#c3:checked ~ #three,
#c4:checked ~ #four{
    z-index: 9;
}

#c1:checked ~ .nav #dot1,
#c2:checked ~ .nav #dot2,
#c3:checked ~ .nav #dot3,
#c4:checked ~ .nav #dot4{
    background: #fff;
}


/* END OF SECTION 3 */


/* Section 4: Inspiration */

.section_4{
    background-color: rgb(255, 255, 255);
    height: 700px;
}

.section_4 h1{
    border-radius: 20px;
    background-color: rgba(73, 69, 69, 0.199);
    color: black;
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: -30px;
    left: 50%;
    text-align: center;
    font-size: 35px;
    width: 60%;
    float: left;
    clear: left;
}

.section_4 p{
    border-radius: 10px;
    /* background-color: rgba(0, 0, 0, 0.274); */
    position: relative;
    color: black;
    text-align: left;
    font-size: 25px;
    top: 120px;
    width: 40%;
    max-width: max-content;
    transform: translateX(-130%);
    float: right;
    clear: right;
}

#hardcoreimg img{
    border-radius: 15px;
    position: relative;
    top: 60px;
    right: 0%;
    left: 65%;
    bottom: 25%;
    width: 30%;
    max-width: 400px;
}

#threehardcoregif img{
    border-radius: 15px;
    position: relative;
    top: -40px;
    left: 50%;
    width: 40%;
    max-width: 500px;
}


/* END OF SECTION 4 */




/* Section 5: Credits */ 

.section_5{
    background-color: rgb(238, 238, 238);
    height: 500px;
    overflow: hidden; /* Helps in hiding the borders that are left by the video and the transition to the other slide. */
}

.section_5 h1{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.199);
    color: black;
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: -5%;
    left: 50%;
    text-align: center;
    width: 60%;
}

.section_5 p{
    border-radius: 20px;
    color: black;
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: -75%;
    left: 76%;
    text-align: center;
    width: 120%;
    font-size: 20px;
}

#instagram_icon img{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.274);
    position: relative;
    max-width: 50px;
    float: left;
    clear:right;
    top: 160px;
    left: 35%;
    width: 5%;
}

#instagram_icon p{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.671);
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 32%;
    top: 225px;
    left: -11%;
    float: right;
}

#youtube_icon img{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.274);
    position: relative;
    float: left;
    max-width: 50px;
    top: 60px;
    left: 25%;
    width: 5%;
}

#youtube_icon p{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.671);
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 29%;
    top: 60px;
    left: 13%;
    float: right;
}


#github_icon img{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.274);
    position: relative;
    float:left;
    top: -40px;
    left: 30%;
    max-width: 50px;
    width: 5%;
}

#github_icon p{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.671); 
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 27%;
    top: -36px;
    left: -17%;
    float: right;
}

/* END OF SECTION 5 */



/*End of written content */

@media only screen and (max-width: 915px) {

    .menu h3{
        display:none;
    }

    .menu #menu_option{
        font-size: 9px;
    }

    .section_1 p{
      font-size: 5px;
    }
  }