/* Made with help from the following video by "Web Decorator": https://www.youtube.com/watch?v=z74ExMz-cWU */ 

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #2c2c2c;
}

/* Slides */

.container{
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    width: 90%;
    height: 20%;
    padding-bottom: 30%;
    background: #363636;
    border: solid 1px #ffffff;
}

.section{
    position: absolute;
    width: 100%;
    height: 100%
}


/*Written Content */

#one p{
    color: white;
    margin-left: 70px;
}

#one, #two, #three, #four{
    display: flex;
    align-items: center;
}

.pre, .nxt{
    width: 12%;
    height:  100%;
    position: absolute;
    top: 0;
    background: rgba(88,88,88,.4);
    z-index: 99;
    cursor: pointer;
}

.pre{
    left: 0;
}

.nxt{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,.4);
}

.section{
    z-index: -1;
}

#c1, #c2, #c3, #c4{
    display: none;
}

/* Hide button from appearing */

#c1:checked ~ #one,
#c2:checked ~ #two,
#c3:checked ~ #three,
#c4:checked ~ #four{
    z-index: 9;
}

#c1:checked ~ .nav #dot1,
#c2:checked ~ .nav #dot2,
#c3:checked ~ .nav #dot3,
#c4:checked ~ .nav #dot4{
    background: #fff;
}