/* Made with help from the following video by "Web Decorator": https://www.youtube.com/watch?v=z74ExMz-cWU */ 
/* Code for video in background by duhzecca. Found in: https://stackoverflow.com/questions/24293102/how-to-put-a-background-video-loop-on-a-website-html-css */


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #7465105d;
    overflow: hidden;
}


video#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;    
    background-size: cover;
}


/* Slides */

.container{
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    width: 90%;
    height: 20%;
    padding-bottom: 30%;
    background: rgb(38, 41, 41);
    /* border: solid 1px #ffffff; */
}

.section{
    position: absolute;
    width: 100%;
    height: 100%
}


/*Written Content */

/*First slide */

#one h1{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.199);
    font-weight:bold;
    color: white;
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: 42%;
    left: 50%;
    text-align: center;
    font-size: 27px;
    width: 50%;
    float: left;
    clear: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.videocontainer{
  position: relative;
  overflow: hidden;
  left: -9%;
  bottom: 2%;
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio  */
  box-sizing: content-box;
}

.responsive-iframe{
    border-radius: 25px;
    position: absolute;
    top: 30%;
    left: 6%;
    bottom: 15%;
    right: 27%;
    width: 64.4%;
    height: 42.9%;
}

/*Second slide */

#two h1{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.199);
    color: white;
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: 42%;
    left: 50%;
    text-align: center;
    font-size: 27px;
    width: 30%;
    float: left;
    clear: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#two p{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.274);
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
    bottom: 5%;
    width: 40%;
    left:-20%;
    float: right;
    clear: right;
}

#two img{
    border-radius: 10px;
    position: absolute;
    float: left;
    clear: left;
    top: 18%;
    right: 15%;
    width: 25%;
}

/*Third slide */

#three h1{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.199);
    color: white;
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: 42%;
    left: 50%;
    text-align: center;
    font-size: 27px;
    width: 30%;
    float: left;
    clear: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#three p{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.274);
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
    bottom: 5%;
    width: 40%;
    left:-20%;
    float: right;
    clear: right;
}

#three img{
    border-radius: 15px;
    position: absolute;
    float: left;
    clear: left;
    top: 18%;
    right: 12%;
    width: 25%;
}

#threehardcoregif img{
    position: absolute;
    float: left;
    clear: left;
    top: 50%;
    left: 55%;
    width: 30%;
}

/*Fourth slide */

#four h1{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.199);
    color: white;
    position: relative;
    transform: translateX(-50%); /* This helps a lot when centering Items, and also the percentages. */
    bottom: 42%;
    left: 50%;
    text-align: center;
    width: 30%;
    float: left;
    clear: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#four p{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    width: 60%;
    bottom: 7%;
    left: 19%;
    float: right;
    clear: right;
}

#instagram_icon img{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    float: left;
    clear: left;
    top: 15%;
    left: 64%;
    width: 15%;
}

#instagram_icon p{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    width: 28%;
    bottom: 26%;
    left: 54%;
    float: right;
    clear: right;
}

#youtube_icon img{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    float: left;
    clear: left;
    top: 15%;
    left: 20%;
    width: 15%;
}

#youtube_icon p{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    width: 28%;
    bottom: 26%;
    left: 19%;
    float: right;
    clear: right;
}

#github_icon img{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    float: left;
    clear: left;
    top: 15%;
    left: 42%;
    width: 15%;
}

#github_icon p{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    width: 28%;
    bottom: 26%;
    left: 19%;
    float: right;
    clear: right;
}


/*End of written content */

#one, #two, #three, #four{
    display: flex;
    align-items: center;
}

.pre, .nxt{
    border-radius: 25px;
    width: 10cap;
    height:  100%;
    position: absolute;
    top: 0;
    background: rgba(148, 146, 146, 0.199);
    z-index: 100;
    cursor: pointer;
}

/* Fade in-out Animation */

@keyframes fadeIn {  /*Source: https://blog.hubspot.com/website/css-fade-in */
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.50; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}

.pre{
    left: 0;
}

.nxt{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: 50px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,.4);
}

.section{
    z-index: -1;
}

/* Hide button from appearing */

#c1, #c2, #c3, #c4{
    display: none;
}

#c1:checked ~ #one,  /* On clicked, this triggers the animation */
#c2:checked ~ #two,
#c3:checked ~ #three,
#c4:checked ~ #four{
    animation-name: fadeIn;
    animation-duration: 0.25s;
    z-index: 9;
}

#c1:checked ~ .nav #dot1,
#c2:checked ~ .nav #dot2,
#c3:checked ~ .nav #dot3,
#c4:checked ~ .nav #dot4{
    background: #fff;
}


/* Example from w3schools.com */
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (min-width: 470px) {
   #two p, #three p, #four p{
      font-size: 11px;
    }

    #one h1{
        font-size: 20px;
    } 

    #two h1, #three h1{
        font-size: 30px;
    }

    #four h1{
        font-size: 25px;
    }
  }


@media screen and (min-width: 670px) {
    #two p, #three p, #four p{
      font-size: 14px;
    }

    #one h1{
        font-size: 20px; 
    }

    #two h1, #three h1{
        font-size: 35px;
      }

    #four h1{
        font-size: 25px;
    }
  }

@media screen and (min-width: 900px) {
    #two p, #three p, #four p{
      font-size: 15px;
    }
    
    #one h1{
        font-size: 25px;
    }


    #two h1, #three h1{
        font-size: 50px;
    }

    #four h1{
        font-size: 25px;
    }
  }

  @media screen and (min-width: 1000px) {
    #two p, #three p, #four p {
      font-size: 18px;
    }

    #one h1{
        font-size: 30px;
    } 

    #four h1{
        font-size: 25px;
    }
  }

  @media screen and (min-width: 1400px) {
    #two p, #three p, #four p {
      font-size: 22px;
    }

    #one h1{
        font-size: 40px;
    } 

    #four h1{
        font-size: 32px;
    }
  }

  @media screen and (min-width: 1900px) {
    #two p, #three p {
      font-size: 28px;
    }

    #four p {
        font-size: 20px;
    }

    #one h1{
        font-size: 40px;
    } 
    #four h1{
        font-size: 35px;
    }
  }